<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Product Id="2474E106-59D0-45F5-AD19-6F3E2723C550" UpgradeCode="F289AA13-BBAF-4EA2-97C8-BAEC7E5B743E"
           Name="MSBuild Community Tasks" Language="1033" Version="1.2.0" Manufacturer="MSBuild Community Tasks">

    <Package Id="????????-????-????-????-????????????" Description="MSBuild Community Tasks" 
             Comments="MSBuild Community Tasks" InstallerVersion="200" Compressed="yes" />

    <Property Id="ALLUSERS" Value="1" />
    <Property Id="ARPHELPLINK" Value="http://msbuildtasks.tigris.org/" />
    <Property Id="ARPURLINFOABOUT" Value="http://msbuildtasks.tigris.org/" />
    <Property Id="ARPURLUPDATEINFO" Value="http://msbuildtasks.tigris.org/" />
   
    <Property Id="VS2005_SCHEMAS_MSBUILD_DIR">
      <RegistrySearch Id="SearchForCommonPath" Type="raw" Root="HKLM" 
                Key="SOFTWARE\Microsoft\VisualStudio\8.0\Setup\VS" Name="ProductDir" >
        <DirectorySearch Id="SearchForXmlPath" Path="Xml" Depth="1">
          <DirectorySearch Id="SearchForXmlSchemasPath" Path="Schemas" Depth="1">
            <DirectorySearch Id="SearchForXmlSchemasLangPath" Path="1033" Depth="1">
              <DirectorySearch Id="SearchForXmlSchemasMSBuildPath" Path="MSBuild" Depth="1" />
            </DirectorySearch>
          </DirectorySearch>
        </DirectorySearch>
      </RegistrySearch>
    </Property>

    <Property Id="VS2005_MSBUILD_SCHEMA">
      <RegistrySearch Id="SearchForCommonPath2" Type="raw" Root="HKLM" 
          Key="SOFTWARE\Microsoft\VisualStudio\8.0\Setup\VS" Name="ProductDir" >
        <DirectorySearch Id="SearchForXmlPath2" Path="Xml" Depth="1">
          <DirectorySearch Id="SearchForXmlSchemasPath2" Path="Schemas" Depth="1">
            <DirectorySearch Id="SearchForXmlSchemasLangPath2" Path="1033" Depth="1">
              <FileSearch Id ="SearchForMSBuildSchema" LongName="Microsoft.Build.xsd"/>
            </DirectorySearch>
          </DirectorySearch>
        </DirectorySearch>
      </RegistrySearch>
    </Property>

    <Property Id="FRAMEWORK20">
      <RegistrySearch Id="Framework20Registry" Type="raw" Root="HKLM" 
                      Key="Software\Microsoft\.NETFramework\Policy\v2.0" Name="50727" />
    </Property>

    <Property Id="DEVENV_2005_COMP">
      <ComponentSearch Id="SearchForDevEnv2005Component" Type="file"
                       Guid="320DB690-7979-4015-BD78-A16D7279043B" />
    </Property>

    <Condition Message=".NET Framework 2.0 is not present on the computer.">
      FRAMEWORK20 = "50727-50727"
    </Condition>

    <Media Id="1" Cabinet="Product.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MSBUILD" Name="MSBuild">
          <Directory Id="INSTALLDIR" Name="MSBUIL_1" LongName="MSBuildCommunityTasks" />
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="C_TASKS" DiskId="1" Guid="B01A2889-5041-4D96-A093-421AE3F48E8C">
        <File Id="F_ICSHAR_DLL" Name="ICSHAR_1.DLL" LongName="ICSharpCode.SharpZipLib.dll" 
              Compressed="yes" Vital="yes" Source="..\..\Build\ICSharpCode.SharpZipLib.dll" />
        <File Id="F_MSBUIL_DLL" Name="MSBUIL_1.DLL" LongName="MSBuild.Community.Tasks.dll" 
              Compressed="yes" Vital="yes" Source="..\..\Build\MSBuild.Community.Tasks.dll" />
        <File Id="F_MSBUIL_TAR" Name="MSBUIL_1.TAR" LongName="MSBuild.Community.Tasks.Targets" 
              Compressed="yes" Vital="yes" Source="..\..\Build\MSBuild.Community.Tasks.Targets" />
        <File Id="F_MSBUIL_XML" Name="MSBUIL_1.XML" LongName="MSBuild.Community.Tasks.xml" 
              Compressed="yes" Source="..\..\Build\MSBuild.Community.Tasks.xml" />
        <File Id="F_SAMPLE_PRJ" Name="SAMPLE.PRJ" LongName="Sample.proj" 
              Compressed="yes" Source="..\Sample.proj" />
      </Component>

      <Component Id="C_SCHEMA" DiskId="1" Guid="F22319C9-7937-47bb-968B-CA3939299FE1">
        <File Id="F_MSBUIL_XSD" Name="MSBUIL_1.XSD" LongName="MSBuild.Community.Tasks.xsd" 
              Compressed="yes" Source="..\..\Build\MSBuild.Community.Tasks.xsd" />
      </Component>

      <Component Id="C_HELP" DiskId="1" Guid="00951D3A-C401-499c-BB5B-7636AC12364D">
        <File Id="F_MSBUIL_CHM" Name="MSBUIL_1.CHM" LongName="MSBuild.Community.Tasks.chm" 
              Compressed="yes" Source="..\..\Documentation\MSBuild.Community.Tasks.chm" />
      </Component>

      <Component Id="C_VS2005" DiskId="1" Guid="15EE7B53-F94D-4c33-839F-02521C896A72">
        <CopyFile Id="CopySchema2005" DestinationProperty="VS2005_SCHEMAS_MSBUILD_DIR" FileId="F_MSBUIL_XSD" />
               
        <XmlFile Id="XmlSettings1" Permanent="no" File="[VS2005_MSBUILD_SCHEMA]" 
                 Action="createElement" Name="xs:include" ElementPath="//xs:schema" Sequence="1" />
        <XmlFile Id="XmlSettings2" Permanent="no" File="[VS2005_MSBUILD_SCHEMA]" 
                 Action="setValue" Name="schemaLocation" Value="MSBuild\MSBuild.Community.Tasks.xsd" 
                 ElementPath="//xs:schema/xs:include[\[]not(@schemaLocation)[\]]" Sequence="2" />

        <Registry Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\8.0\MSBuild\SafeImports">
          <Registry Name="MSBuildCommunityTasks" Value="[INSTALLDIR]MSBuild.Community.Tasks.Targets" Type="string" />
        </Registry>

      </Component>

    </DirectoryRef>

    <Feature Id="F_TASKS" Level="1" Display="expand" AllowAdvertise="no" Absent="disallow" 
             Title="MSBuild Community Tasks" Description="Install the collection of MSBuild Community Tasks." >
      <ComponentRef Id="C_TASKS" />

      <Feature Id="F_HELP" Level="1" Display="expand" AllowAdvertise="no" Absent="allow"
               Title="Task Help File" Description="Install the help file for the Community Tasks.">
        <ComponentRef Id="C_HELP"/>
      </Feature>
      
      <Feature Id="F_VS2005" Level="1" Display="expand" AllowAdvertise="no" Absent="allow"
               Title="Visual Studio Integration" Description="Integrate MSBuild Community Tasks with Visual Studio.">
        
        <Condition Level="0">NOT DEVENV_2005_COMP</Condition>

        <ComponentRef Id="C_SCHEMA"/>
        <ComponentRef Id="C_VS2005"/>
      </Feature>

    </Feature>

    <UIRef Id="WixUI" />

  </Product>
</Wix>
