<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.11.0" targetFramework="net472" />
  <package id="FSharp.Compiler.CodeDom" version="1.0.0.1" targetFramework="net472" />
  <package id="NUnit" version="3.2.1" targetFramework="net472" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net472" />
  <package id="RhinoMocks" version="3.6.1" />
  <package id="Microsoft.Web.Administration" version="7.0.0.0" targetFramework="net472" />
  <package id="Microsoft.Build.Utilities.Core" version="17.5.0" targetFramework="net472" />
  <package id="Microsoft.Build.Tasks.Core" version="17.5.0" targetFramework="net472" />
  <package id="Microsoft.Build.Framework" version="17.5.0" targetFramework="net472" />
</packages>